{namespace encore = Ssch\Typo3Encore\ViewHelpers}

<f:layout name="default" />
<f:section name="content">
    <div class="accordion" id="boosterAccordion-{data.uid}">
        <f:if condition="{faqs}">
            <f:for each="{faqs}" as="faq" iteration="i">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button{f:if(condition: i.isFirst, else: ' collapsed')}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{data.uid}-{i.index}" aria-expanded="{f:if(condition: i.isFirst, then: 'true', else: 'false')}" aria-controls="collapse-{data.uid}-{i.index}">
                            {faq.name}
                        </button>
                    </h2>
                    <div id="collapse-{data.uid}-{i.index}" class="accordion-collapse collapse {f:if(condition: i.isFirst, then: ' show')}" data-bs-parent="#boosterAccordion-{data.uid}">
                        <div class="accordion-body">
                            <f:format.html>{faq.text}</f:format.html>
                        </div>
                    </div>
                </div>
            </f:for>
        </f:if>
    </div>
</f:section>
